/* STYLE.CSS STRUCTURE
		=========================================================================== */

/**
 * - COMMON STYLES
 * I. HEADER
 * II. MAIN
 * III. CATALOG
 * IV. TOYS
 * V. BLOG
 * VI. CONTACT US
 * VII. FOOTER
 * VIII. POPUP
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: #1e0606;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0;

	/*
	Для учебного проекта
	*/
	min-width: 1220px;
}

.visually-hidden:not(:focus):not(:active) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.title-h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	margin: 0;
}

.title-h2,
.title-h2 a {
	color: #1e0606;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 38px;
	line-height: 47px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
}

.title-h3 {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1220px;
}

.btn {
	background: #000;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 9px 22px;
	min-height: 40px;

	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	/*line-height: 40px;*/
	/*height: 40px;*/
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;

	max-width: 280px;

	/*
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	*/
}

/* I. HEADER
    ========================================================================== */

.header {
	padding: 50px 0;
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.header-logo {
	text-decoration: none;
	height: 52px;
	margin-right: 50px;
}

.header-nav-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

	.header-nav-list li {
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		margin: 0 10px;
	}

		.header-nav-list a {
			color: #1e0606;
			font-size: 14px;
			line-height: 19px;
			text-decoration: none;
			text-transform: uppercase;
		}

.header-aside {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
}

	.search {
		margin-right: 24px;
	}

		.search-input {
			display: none;
		}

		.search-button {
			background: url('../img/icons/icon-search.svg') no-repeat 50% 50%;
			border: none;
			box-sizing: border-box;
			padding: 0;
			position: relative;
			height: 18px;
			width: 17px;
			top: -3px;
		}

	.header-contacts {
		color: #1e0606;
		font-size: 14px;
		font-weight: bold;
		line-height: 19px;
		text-transform: uppercase;
		text-decoration: none;
	}

a.header-logo:hover,
.header-nav-list a:hover,
.header-contacts:hover:not(.header-contacts-not-active) {
	opacity: 0.5;
}

a.header-logo:active,
.header-nav-list a:active,
.header-contacts:active:not(.header-contacts-not-active) {
	opacity: 0.2;
}

/* II. MAIN
		========================================================================== */

/**
 * 1. Categories
 * 2. Delivery
 * 3. Partners
 * 4. Main-bottom
*/

/* 1. Categories
	========================================================================== */

.categories {
	padding: 45px 0;
}

.categories-container {
	/*
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	Оставить ли здесь эти свойства?
	По-моему никак не влияют на содержимое
	*/

	width: 100%;
}

.categories-title {
	margin-bottom: 30px;
}

.products-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0 0 30px 0;
}

	.products-list-item {
		margin-right: 20px;
	}
	
	.products-list-item:nth-child(4n+4) {
		margin-right: 0;
	}

	.products-list-item:nth-child(n+5) {
		margin-top: 20px;
	}

	.products-list-item-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 280px;
		height: 270px;
	}

		.products-list-item-wrapper img {
			position: relative;

			/*
			Нужно ли здесь делать max-width 
			для img?
			*/
		}

		.products-list-item-wrapper h3 {
			max-width: 200px; 
			position: absolute;
		}

	.bg-green {
		background-color: #DBE4DB;
	}

	.bg-orange {
		background-color: #EADDD3;
	}

	.bg-yellow {
		background-color: #F8F2DA;
	}

	.bg-violet {
		background-color: #D5D4E1;
	}

	.bg-pink {
		background-color: #F3D0DB;
	}

	.bg-blue {
		background-color: #E5EAF8;
	}

.products-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

	.products-nav-btns {
		display: flex;
		flex-direction: row;
		padding-top: 3px;
		margin-right: 20px;
	}
		
		.products-nav-btn {
			border: none;
			cursor: pointer;
			width: 37px;
			height: 37px;
			/*
			Нужно ли ограничивать размеры кнопки здесь?
			Я правильно понимаю что при замене в кнопке иконки на другую,
			большего размера то верстка поедет.
			Тогда здесь нужно переписать полностью код кнопки
			и использовать другой подход?
			*/
			padding: 0;
			margin-right: 6px;
		}

		.products-nav-btn:last-child {
			margin: 0;
		}

		.products-nav-btn-prev {
			background: url('../img/icons/btn-previous.svg') no-repeat 50% 50% rgba(112, 187, 220, 0.2);
		}

		.products-nav-btn-next {
			background: url('../img/icons/btn-next.svg') no-repeat 50% 50% rgba(112, 187, 220, 0.2);
		}

	.products-nav-text {
		max-width: 550px;
		margin: 0;
	}

/* 2. Delivery
	========================================================================== */

.delivery {
	padding: 45px 0;
}

.delivery-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.delivery-img {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	max-width: 480px;
	max-height: 559px;
}

.delivery-aside {
	max-width: 540px;
	padding-left: 60px;
	margin: 30px auto auto 60px;
}

	.delivery-title {
		margin: 0 0 6px 0;
	}

	.delivery-list {
		list-style: none;
		padding: 0;
		margin: 0 0 18px -60px;
	}

		.delivery-list a {
			display: inline-flex;
			color: #1e0606;
			font-family: "Crimson Text", serif;
			font-size: 26px;
			font-style: italic;
			line-height: 32px;
			text-decoration: none;
			padding: 11px 60px;
			min-height: 55px;
			min-width: 326px; 
			/*
			Какое свойство здесь лучше width или min-width?
			Переполнение по разному ведет себя визуально
			*/
		}

		.delivery-list a:hover {
			background-color: rgba(112, 187, 220, 0.2);
			font-weight: bold;
		}

	.delivery-aside p {
		margin: 0 0 15px 0;
	}

	.learn-more-btn {
		margin: 11px auto 0 0;
	}

/* 3. Partners
	========================================================================== */

.partners {
	padding: 45px 0;
}

.partners-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.partners-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	min-height: 61px;
	padding: 0;
	margin: 0;
}

	.partners-list li {
		display: flex;
		flex-direction: row;
		align-items: center;
		/*min-width: 220px;*/
		margin-right: 127px;

		/*
		Переписал код под переполнение,
		но элементы в следующем ряду получаются
		сдвинутыми и идут не в одну колонку с верхним рядом (из за отступов).
		Стоит ли их вырвнивать?

		Если задать каждому контейнеру min-width то они выравниваются (с justify-content),
		но тогда из за разных размеров логотипов отступы по краям головного контейнера не совпадут.
		Я могу каждый логотип который находится по краям контейнера отцентровать,
		но так и кода больше будет, а нужно ли это все?
		*/
	}

	.partners-list li:last-child {
		margin-right: auto;
	}

	.partners-list li:nth-child(4n+4) {
		margin-right: 0;
	}

	.partners-list li:nth-child(n+5) {
		margin-top: 20px;
	}

		.partners-list img {
			opacity: 0.8;
		}

/* 4. Main-bottom
		========================================================================== */

/**
 * 4.1. Design Life Kids
 * 4.2. Contacts
*/

.main-bottom {
	padding: 40px 0 60px 0;
}

.main-bottom-container {
	display: flex;
	flex-direction: row;
}

/* 4.1. Design Life Kids
    ========================================================================== */

.dlk-aside-container {
	background-color: #E1F0F7;
	box-shadow: inset 0 26px #fff; /*inset 0 -87px #fff;*/
	max-width: 543px;
	/*max-height: 262px;*/
	padding: 0 30px;
	margin: 0 57px auto 0; /*margin-bottom: auto?
	/*
	Не нашел другого способа как без высоты контейнера закрасить его.
	Поставил внешний отступ для обрезки снизу, при переполнении
	вроде все ок, только у блока всего увеличивается отсуп снизу.
	*/
}

.dlk-aside-title {
	margin: 0 0 10px 0;
}

.dlk-aside-subtitle {
	font-family: "Crimson Text", serif;
    font-size: 26px;
    font-style: italic;
    font-weight: normal;
    line-height: 32px;
	margin: 0 0 10px 0;
}

.dlk-aside-text {
	margin: 0 0 20px 0;
}

.buy-now-btn {
	margin: 0 0 35px 0;
}

/* 4.2. Contacts
    ========================================================================== */

.contacts-aside-container {
	background-color: #E1F0F7;
	box-shadow: inset 0 26px #fff, inset 0 -114px #fff;
	max-width: 543px;
	/*min-height: 349px;*/
	padding: 0 30px;
	margin: 0 0 auto 0;
	/*
	В этом блоке при переполнении все ок и если убрать текст тоже нормально.
	Но если убрать img, то при добавлении текста фон остается на месте а содержимое 
	параграфов уходит вних без background
	Как исправить это?
	*/
}

.contacts-aside-title,
.contacts-aside-text {
	margin: 0 0 20px 0;
}


.contacts-aside-img {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	max-height: 196px;
	/*
	Я сделал отдельный div для img,
	на случай замены изображения
	*/
}

	.contacts-aside-img img {
		max-width: 100%;
	}

/* III. CATALOG
		========================================================================== */

/**
 * 1. Content-header
 * 2. Breadcrumbs
 * 3. Catalog
 * 4. Text-content
*/

/* 1. Content-header
	========================================================================== */

.content-header {
	padding-top: 10px;
}

/* 2. Breadcrumbs
	========================================================================== */

.breadcrumbs-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 15px 0 0 0;
}

	.breadcrumbs-list-item:not(:last-child):after {
		content: url(/img/icons/stroke-next.svg);
		margin: 0 20px;
	}

		.breadcrumbs-list-item,
		.breadcrumbs-list-item a {
			color: #1e0606;
			font-family: "Crimson Text", serif;
			font-size: 20px;
			font-style: italic;
			line-height: 25px;
			text-decoration: none;
		}

	.breadcrumbs-list-item:last-child {
		opacity: 50%;
	}

/* 3. Catalog
	========================================================================== */

.catalog {
	padding: 50px 0;
}

.catalog-container {
	width: 100%;
	padding-right: 120px;
}

.catalog-list {
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
}

	.catalog-list li {
		margin-right: 20px;
	}

	.catalog-list li:nth-child(n+4) {
		margin: 23px 0 0 20px;
	}

	.catalog-list li:nth-child(4) {
		margin-left: auto;
	}

/* 4. Text-content
	========================================================================== */

.text-content {
	padding: 5px 0 55px 0;
}

.text-content-container {
	padding-left: 220px;
}

	.text-content-container h2 {
		margin-bottom: 25px;
	}

	.text-content-container p {
		text-align: left;
		max-width: 670px;
		margin: 0 0 15px 0;
	}

	.text-content-container p:last-child {
		margin: 0;
	}

/* IV. TOYS
		========================================================================== */

/**
 * 1. Filters
 * 2. Product-cards
*/

/* 1. Filters
	========================================================================== */

.filters {
	background: rgba(125, 151, 218, 0.2);
	margin-top: 50px;
	padding: 42px 0;
}

.filters-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.filters-col {
	color: #1e0606;
	flex-shrink: 0;
	font-size: 16px;
	line-height: 22px;
	min-width: 200px;
}

	.filters-col-title {
		font-size: 16px;
		font-weight: bold;
		line-height: 22px;
		margin: 0 0 15px;
	}

	.filters-list,
	.filters-amount {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.filters-list li {
			margin-bottom: 15px;
		}

		.filters-list li:last-child {
			margin-bottom: 0;
		}

		.filters-list input[type="checkbox"],
		.filters-list input[type="radio"],
		.filters-amount input[type="radio"] {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0 0 0 0);
		}

		.filters-list input[type="checkbox"] + label,
		.filters-list input[type="radio"] + label {
			position: relative;
			padding: 0 0 0 29px;
		}

		.filters-list input[type="checkbox"] + label::before,
		.filters-list input[type="radio"] + label::before {
			border: 2px solid #c29974;
			border-radius: 3px;
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			height: 20px;
			width: 20px;
		}

		.filters-list input[type="radio"] + label::before {
			border-radius: 100%;
		}

		.filters-list input[type="checkbox"]:checked + label::before {
			background: #fff url("../img/icons/checkbox-checked.svg") no-repeat 100% 0;
			/*background-size: 12px 12px;*/
		}

		.filters-list input[type="radio"] + label::after {
			content: "";
			border-radius: 100%;
			position: absolute;
			top: 5px;
			left: 4px;
			height: 12px;
			width: 12px;
		}

		.filters-list input[type="radio"]:checked + label::after {
			background: #c29974;
		}


	.filters-amount {
		display: flex;
		flex-direction: row;
	}

		.filters-amount label {
			background: #fff;
			display: block;
			flex-shrink: 0;
			text-align: center;
			line-height: 35px;
			min-width: 80px;
		}

		.filters-amount input[type="radio"]:checked + label {
			background: #F3D0DB;
		}

	.filters-col .btn {
		margin: 37px 0 0 0;
	}

/* 4. Product-cards
	========================================================================== */

.product-cards {
	padding: 60px 0;
}

.product-cards-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

	.product-cards-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
	}

		.product-cards-item {
			max-width: 380px;
			margin: 0 20px 0 0;
		}

		.product-cards-item:nth-child(3n+3) {
			margin-right: 0;
		}

		.product-cards-item:nth-child(n+4) {
			margin-top: 20px;
		}

			.product-cards-item-img {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				height: 385px;
				margin: 0 0 30px 0;
			}

				.product-cards-item-img img {
					max-width: 100%;
				}

			.product-cards-item-info {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

				.product-cards-title {
					font-family: "Open Sans", sans-serif;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					text-transform: uppercase;
					margin: 0 0 15px 0;
				}

					.product-cards-title a {
						color: #1e0606;
						text-decoration: none;
					}

				.product-cards-price {
					font-weight: bold;
					text-transform: uppercase;
					margin: 0 0 25px 0;
				}

	.content-pagination {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 50px 0 0 0;
	}

		.content-pagination-arrow, 
		.content-pagination-arrow img {
			/*
			Почему то если не указать высоту ссылки, 
			то она становиться больше контейнера и 
			сбивает выравнивание элементов в нем.
			*/
			max-width: 18px;
			max-height: 26px;
		}

		.content-pagination-list {
			display: flex;
			flex-direction: row;
			list-style: none;
			max-width: 1150px;
			padding: 0;
			margin: 0 auto;
		}

			.content-pagination-list li {
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				line-height: 20px;
				margin: 0 33px;
			}

				.content-pagination-list a {
					color: #1e0606;
					text-decoration: none;
				}

			.content-pagination-list span {
				color: #C29974;
			}

		.content-pagination-list a:hover {
			opacity: 50%;
		}

		.content-pagination-list a:active {
			opacity: 25%;
		}

/* V. BLOG
    ========================================================================== */

.blog-articles {
	padding: 50px 0 60px 0;
}

.blog-articles-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

	.blog-articles-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		margin: 0;
	}

		.blog-articles-item {
			max-width: 380px;
			padding-bottom: 20px;
			margin-bottom: 14px;
		}

			.blog-articles-item-img {
				display: block;
				height: 220px;
				margin-bottom: 20px;
			}

				.blog-articles-item-img img {
					width: 100%;
				}

			.blog-articles-item span {
				color: #818181;
			}

			.blog-articles-item h2 {
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				font-size: 24px;
				line-height: 31px;
				margin: 7px 0 15px 0;
			}

				.blog-title a {
					color: #1e0606;
					text-decoration: none;
				}

			.blog-articles-item p {
				font-size: 18px;
				line-height: 25px;
				margin: 0;
			}

.blog-articles-container .content-pagination {
	margin-top: 16px;
}
	
/* VI. CONTACT US
	========================================================================== */

.contact-us {
	padding: 50px 0 60px 0;
}

.contact-us-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

	.contact-us-form-wrapper {
		background-color: #E5EAF8;
		max-width: 680px;
		padding: 42px 40px;
	}

	.contact-us-form {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

		.contact-us-input-container {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
		}

			.contact-us-label {
				font-size: 14px;
				line-height: 19px;
				margin-bottom: 4px;
			}

			.contact-us-input {
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 0;
				min-height: 50px;
			}

				.contact-us-input::placeholder {
					color: #1E0606;
					font-size: 18px;
					line-height: 24px;
					padding-left: 18px;
				}

			.contact-us-input-name {
				width: 600px;
			}

			.contact-us-input-tel,
			.contact-us-input-email {
				width: 290px;
			}

			.contact-us-textarea {
				resize: none;
				width: 600px;
				min-height: 150px;
				margin-bottom: 1px;
			}

		.contact-us-checkbox-container {
			display: inline-block;
			margin-bottom: 16px;
		}

			.contact-us-form input[type="checkbox"] {
				position: absolute;
				width: 1px;
				height: 1px;
				overflow: hidden;
				clip: rect(0 0 0 0);
			}

			.contact-us-form input[type="checkbox"] + label {
				position: relative;
				padding: 0 0 0 34px;
			}

			.contact-us-form input[type="checkbox"] + label::before {
				border: 2px solid #c29974;
				border-radius: 3px;
				content: "";
				position: absolute;
				bottom: 2px;
				left: 0;
				height: 20px;
				width: 20px;
			}

			.contact-us-form input[type="checkbox"]:checked + label::before {
				background: #fff url("../img/icons/checkbox-checked.svg") no-repeat 100% 0;
				/*background-size: 12px 12px;*/
			}

			.contact-us-checkbox-container label {
				padding: 10px 0 0 0;
			}
		
	.contact-us-aside {
		max-width: 380px;
	}

	.contact-us-aside p {
		padding: 0;
		margin: 0 0 20px 0;
	}

	.contact-us-aside span {
		color: #C29974;
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		text-transform: uppercase;
	}

/* VII. FOOTER
    ========================================================================== */

.footer {
	background: #434343;
	color: #fff;
}

.footer-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.footer-col {
	min-width: 380px;
	margin: 100px 20px 0 0;
}

.footer-col:last-child {
	margin-right: 0;
}

	.footer-col-title {
		color: #aaaaaa;
		font-weight: 400;
		line-height: 22px;
		text-align: left;
		border-bottom: 1px solid #666;
		padding-bottom: 23px;
		margin: 0;
	}

	.footer-col-list {
		list-style: none;
		padding: 13px 0;
		margin: 0;
	}

		.footer-col-list li {
			margin: 15px 0;
		}

			.footer-col-list a {
				color: #fff;
				line-height: 22px;
				text-decoration: none;
			}

	.footer-col-container {
		width: 100%;
		margin: 0;
		padding: 25px 0;
	}

		.footer-mail-form {
			display: flex;
			flex-direction: row;
		}

			.footer-mail-input {
				background-color: #666;
				outline: none;
				border: none;
				border-radius: 0;
				width: 299px;
				height: 40px;
			}

			.footer-mail-input::placeholder {
				color: #ebebeb;
				padding-left: 15px;
			}

			/*
			.footer-mail-btn {

			}
			*/

		.footer-socials-list {
			display: flex;
			flex-direction: row;
			list-style: none;
			padding: 0;
			margin: 25px 0 0 0;
		}

			.footer-socials-list li {
				margin: 0 10px 0 0;
			}

				.footer-col-list a {
					text-decoration: none;
				}

.footer-bottom-wrapper {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #666;
}

	.footer-bottom-col {
		min-width: 380px;
		margin: 23px 0 100px 20px;
	}

	.footer-bottom-col:first-child {
		align-items: center;
		margin: 23px 0 100px 0;
	}

		.footer-bottom-col a {
			color: #a2a2a2;
			text-decoration: none;
		}

		/*.star-rating {
			
		}*/

		.star-rating-fieldset {
			margin: 0;
			padding: 0 0 0 147px;
			border: none;
			position: relative;
		}

		.star-rating-title {
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
		}

		.star-rating-container {
			position: relative;
			width: 80px;
			height: 16px;
			background-image: url("../img/icons/rating-star-disabled.svg");
			background-size: 16px;
			background-repeat: repeat-x;
		}
		
		.star-rating-container:focus-within {
			outline: solid 1px #fff;
			outline-offset: 5px;
		}
		
			.star-rating-input {
				position: absolute;
				top: 0;
				left: 0;
				width: 16px;
				height: 16px;
				/*margin: 0 3px 0 0;*/
				/*padding: 0 2px 0 0;*/
				font-size: inherit;
				background-size: 16px;
				background-repeat: repeat-x;
				appearance: none;
			}

			.star-rating-input:focus {
				outline: none;
			}

			.star-rating-input:checked,
			.star-rating-input:hover {
				background-image: url("../img/icons/rating-star-enabled.svg");
				
			}

			.star-rating-input:hover ~ .star-rating-input {
				background-image: url("../img/icons/rating-star-disabled.svg");
			}

				.star-rating-input:nth-of-type(1) {
					z-index: 5;
					width: 16px;
				}

				.star-rating-input:nth-of-type(2) {
					z-index: 4;
					width: 32px;
				}

				.star-rating-input:nth-of-type(3) {
					z-index: 3;
					width: 48px;
				}

				.star-rating-input:nth-of-type(4) {
					z-index: 2;
					width: 64px;
				}

				.star-rating-input:nth-of-type(5) {
					z-index: 1;
					width: 80px;
				}

/* VIII. POPUP
    ========================================================================== */

.popup {
	background-color: rgba(125, 151, 218, 0.8);
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.popup:target {
	display: block;
}

	.popup-body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.popup-content {
			position: relative;
		}

			.popup-close {
				position: absolute;
				right: -25px;
				top: 0;
			}
