/*
.header-list li {
  text-transform: uppercase;
  margin: 10px;
  list-style-type: none;
  display: inline-block;
}

.products-list li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

.partners-list li {
  list-style-type: none;
  display: inline-block;
  margin: 50px;
}

.footer-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-socials-list li {
  display: inline;
  list-style-type: none;
  padding-left: 0;
}
*/
