.p1 {
  font-style: normal;
  font-size: normal;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
}
.line1 {
  width: 300px;
  text-align: left; 
  margin-left: 0;
  margin-right: 0;
}
.line2 {
  width: 300px;
  text-align: left; 
  margin-left: 0;
  margin-right: 0;
}