a {
  text-decoration: none;
}

.headerlist > li {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin: 10px;
  list-style-type: none;
  display: inline-block;
}

.search {
  margin-left: 677px;
}

.p1 {
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
}

.productslist > li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

.partnerslist > li {
  list-style-type: none;
  display: inline-block;
  margin: 50px;
}
/*
.delivery {
  display: normal;
}*/
/*
.footerstyle {
display: inline-flex;
}
*/
.footerline {
 font-family: Open Sans, sans-serif;
 font-size: 16px;
 display: inline-block;
 margin: 50px;
}

hr {
  display: none;
}
/*
.line1 {
  width: 300px;
  text-align: left; 
  margin-left: 0;
  margin-right: 0;
}

.line2 {
  width: 300px;
  text-align: left; 
  margin-left: 0;
  margin-right: 0;
}
*/
.footerlist > li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footerpartnerlist > li {
  display: inline;
  list-style-type: none;
  padding-left: 0px;
}

.underfooter > ul {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  display: inline-block;
  list-style-type: none;
  margin: 50px;
} 
 